body {
	background-color: rgb(202, 194, 204);
  }
  
  .box {
	  background-color: rgb(202, 194, 204);
	  text-align: center;
	  padding: 3em;
  }

  .topnav a {
	   background-color: rgb(168, 191, 163);
	   font-family: Arial, Helvetica, sans-serif;
	   text-decoration: none;
	   color: rgb(255, 255, 255);
	   text-align: center;
	   padding: 1em;
	  
  }

  .topnav{
	position:fixed;
	padding-left: 460px;
  }

  .topnav a:hover {
	  background-color: rgb(221, 231, 218);
	  color: rgb(0, 0, 0);
	  text-transform: uppercase;
	  

  }

  .line{
	  background-color: rgb(157, 191, 158);
	  height:5px;
	  border-radius: 5px;
	  position: fixed;
	  top:0;
	  z-index: 70;
  }

	
  .image a {
	background-color: rgb(0, 0, 0);
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: rgb(255, 255, 255);

  }

  .image a:hover {
	  background-color: rgb(220, 235, 255);
	  color: rgb(0, 0, 0);

  }



  h1 {
	color: rgb(135, 160, 145);
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	padding: 0.5em;
  }

  h2 {
	  color:rgb(0, 0, 0);
	  background-color: rgb(245, 228, 206);
	  font-family: Arial, Helvetica, sans-serif;
	  text-align: center;
	  padding: 1.5em;
  }

  h4 {
	  color: rgb(255, 255, 255);
	  font-family: Arial, Helvetica, sans-serif;
	  text-align: center;
  }

  h3 {
	  color: rgb(135, 160, 145);
	  font-family: Arial, Helvetica, sans-serif;
	  text-align: center;
  }



  p {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
  }

  header {
	  text-align: center;
  }
  .carousel{
    background: rgb(245, 228, 206);;
    margin-top: 20px;
  }
  .carousel-item{
    text-align: center;
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
  }
  .carousel-1{
	margin: 20px;
  }
  .mycarousel{
	overflow: hidden;
  }
   .carousel-inner{
	   display:flex;
	   overflow: hidden;
	   transform:traslateX(-300px)
	
   }

   img {
	border-radius: 4px;
	padding: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	
  }


  .carousel-item active{
	display:flex;
  }


  .tothetop {
	position: fixed;
	right: 1em;
	bottom: 1em;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	opacity: 0.5;
  }

  .contactus{
	  background-color:  rgb(245, 228, 206);
	  box-sizing: border-box;
	  padding: 10px;
	  text-align: center;
	  width: 100%;
	  position: relative;
	  top:50px;
	  display:block;
  }
  
  .happyshopping{
		background-color:  rgb(245, 228, 206);
		box-sizing: border-box;
		padding: 40px;
		text-align: center;
		width: 100%;
		position: relative;
		top: 50px;
  }


  .footer {
	  text-align: center;
	  font-family: Arial, Helvetica, sans-serif;
	  font-style: italic;
	  padding: 0.2em;
	  
  }
		.footer {
		  left: 0;
		  bottom: 0;
		  width: 100%;
		  color: white;
		  text-align: center;
		  
  }








  /* MEDIA QUERIES MUST GO AT THE BOTTOM */

@media screen and (max-width: 700px) {
	.topnav {
	  min-width: initial;
	  display: grid;
	  grid-template-columns: 1fr;
	  align-items: center;
	  justify-content: center;
	  text-align: center;
	}
  }
  
@media screen and (max-width: 700px) {
	.image {
	  min-width: initial;
	  display: grid;
	  grid-template-columns: 1fr;
	  align-items: center;
	  justify-content: center;
	  text-align: center;
	}
}

@media screen and (max-width: 700px) {
	.footer {
	  min-width: initial;
	  display: grid;
	  grid-template-columns: 1fr;
	  align-items: center;
	  justify-content: center;
	  text-align: center;
	}
}




